In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [ ]:
data=pd.read_csv("Iris.csv")

In [ ]:
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
data.drop("Id",axis=1,inplace=True)

In [ ]:
data.columns=['Sepal_len_cm','Sepal_wid_cm','Petal_len_cm','Petal_wid_cm','Type']
data.head()

   Sepal_len_cm  Sepal_wid_cm  Petal_len_cm  Petal_wid_cm         Type
0           5.1           3.5           1.4           0.2  Iris-setosa
1           4.9           3.0           1.4           0.2  Iris-setosa
2           4.7           3.2           1.3           0.2  Iris-setosa
3           4.6           3.1           1.5           0.2  Iris-setosa
4           5.0           3.6           1.4           0.2  Iris-setosa

In [ ]:
le=LabelEncoder()

In [ ]:
data['Type']=le.fit_transform(data['Type'])

In [ ]:
def activation_func(value):
    return ((np.exp(value)-np.exp(-value))/(np.exp(value)+np.exp(-value)))

In [ ]:
def perceptron_train(in_data,labels,alpha):
    X=np.array(in_data)
    y=np.array(labels)
    weights=np.random.random(X.shape[1])
    original=weights
    bias=np.random.random_sample()
    for key in range(X.shape[0]):
        a=activation_func(np.matmul(np.transpose(weights),X[key]))     
        yn=0
        if a>=0.7:
            yn=1
        elif a<=(-0.7):
            yn=-1
        weights=weights+alpha*(yn-y[key])*X[key]
        print('Iteration '+str(key)+': '+str(weights))
    print('Difference: '+str(weights-original))
    return weights

In [ ]:
def perceptron_test(in_data,label_shape,weights):
    X=np.array(in_data)
    y=np.zeros(label_shape)
    for key in range(X.shape[1]):
        a=activation_func((weights*X[key]).sum())
        y[key]=0
        if a>=0.7:
            y[key]=1
        elif a<=(-0.7):
            y[key]=-1
    return y

In [ ]:
def score(result,labels):
    difference=result-np.array(labels)                                                        
    correct_ctr=0
    for elem in range(difference.shape[0]):
        if difference[elem]==0:
            correct_ctr+=1
    score=correct_ctr*100/difference.size
    print('Score='+str(score))

In [ ]:
divider = np.random.rand(len(data)) < 0.70
d_train=data[divider]
d_test=data[~divider]

In [ ]:
d_train_y=d_train['Type']
d_train_X=d_train.drop(['Type'],axis=1)

In [ ]:
d_test_y=d_test['Type']
d_test_X=d_test.drop(['Type'],axis=1)

In [ ]:
alpha = 0.01

In [ ]:
weights = perceptron_train(d_train_X, d_train_y, alpha)

Iteration 0: [0.74552263 0.52170207 0.84743917 0.8860579 ]
Iteration 1: [0.78952263 0.55070207 0.86143917 0.8880579 ]
Iteration 2: [0.83752263 0.58470207 0.87743917 0.8900579 ]
Iteration 3: [0.88552263 0.61470207 0.89143917 0.8910579 ]
Iteration 4: [0.92852263 0.64470207 0.90243917 0.8920579 ]
Iteration 5: [0.98652263 0.68470207 0.91443917 0.8940579 ]
Iteration 6: [1.04352263 0.72870207 0.92943917 0.8980579 ]
Iteration 7: [1.09752263 0.76770207 0.94243917 0.9020579 ]
Iteration 8: [1.14852263 0.80270207 0.95643917 0.9050579 ]
Iteration 9: [1.20552263 0.84070207 0.97343917 0.9080579 ]
Iteration 10: [1.25652263 0.87870207 0.98843917 0.9110579 ]
Iteration 11: [1.30752263 0.91170207 1.00543917 0.9160579 ]
Iteration 12: [1.35552263 0.94570207 1.02443917 0.9180579 ]
Iteration 13: [1.40552263 0.97970207 1.04043917 0.9220579 ]
Iteration 14: [1.45752263 1.01470207 1.05543917 0.9240579 ]
Iteration 15: [1.50952263 1.04870207 1.06943917 0.9260579 ]
Iteration 16: [1.55652263 1.08070207 1.08543917 0.9280579 ]
Iteration 17: [1.60452263 1.11170207 1.10143917 0.9300579 ]
Iteration 18: [1.65852263 1.14570207 1.11643917 0.9340579 ]
Iteration 19: [1.71052263 1.18670207 1.13143917 0.9350579 ]
Iteration 20: [1.76552263 1.22870207 1.14543917 0.9370579 ]
Iteration 21: [1.81452263 1.25970207 1.16043917 0.9380579 ]
Iteration 22: [1.86352263 1.29070207 1.17543917 0.9390579 ]
Iteration 23: [1.90752263 1.32070207 1.18843917 0.9410579 ]
Iteration 24: [1.95852263 1.35470207 1.20343917 0.9430579 ]
Iteration 25: [2.00352263 1.37770207 1.21643917 0.9460579 ]
Iteration 26: [2.04752263 1.40970207 1.22943917 0.9480579 ]
Iteration 27: [2.09752263 1.44470207 1.24543917 0.9540579 ]
Iteration 28: [2.14852263 1.48270207 1.26143917 0.9560579 ]
Iteration 29: [2.19452263 1.51470207 1.27543917 0.9580579 ]
Iteration 30: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 31: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 32: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 33: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 34: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 35: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 36: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 37: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 38: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 39: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 40: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 41: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 42: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 43: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 44: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 45: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 46: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 47: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 48: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 49: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 50: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 51: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 52: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 53: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 54: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 55: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 56: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 57: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 58: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 59: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 60: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 61: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 62: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 63: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 64: [2.24752263 1.55170207 1.29043917 0.9600579 ]
Iteration 65: [2.18452263 1.51870207 1.23043917 0.9350579 ]
Iteration 66: [2.12652263 1.49170207 1.17943917 0.9160579 ]
Iteration 67: [2.05552263 1.46170207 1.12043917 0.8950579 ]
Iteration 68: [1.99252263 1.43270207 1.06443917 0.8770579 ]
Iteration 69: [1.91652263 1.40270207 0.99843917 0.8560579 ]
Iteration 70: [1.86752263 1.37770207 0.95343917 0.8390579 ]
Iteration 71: [1.79452263 1.34870207 0.89043917 0.8210579 ]
Iteration 72: [1.72752263 1.32370207 0.83243917 0.8030579 ]
Iteration 73: [1.65552263 1.28770207 0.77143917 0.7780579 ]
Iteration 74: [1.59052263 1.25570207 0.72043917 0.7580579 ]
Iteration 75: [1.52252263 1.22570207 0.66543917 0.7370579 ]
Iteration 76: [1.45852263 1.19370207 0.61243917 0.7140579 ]
Iteration 77: [1.38152263 1.15570207 0.54543917 0.6920579 ]
Iteration 78: [1.30452263 1.12970207 0.47643917 0.6690579 ]
Iteration 79: [1.24452263 1.10770207 0.42643917 0.6540579 ]
Iteration 80: [1.17552263 1.07570207 0.36943917 0.6310579 ]
Iteration 81: [1.11952263 1.04770207 0.32043917 0.6110579 ]
Iteration 82: [1.04252263 1.01970207 0.25343917 0.5910579 ]
Iteration 83: [0.98052263 0.99170207 0.20543917 0.5730579 ]
Iteration 84: [0.90852263 0.96170207 0.14743917 0.5570579 ]
Iteration 85: [0.83452263 0.93370207 0.08643917 0.5380579 ]
Iteration 86: [0.75552263 0.89570207 0.02243917 0.5180579 ]
Iteration 87: [ 0.69452263  0.86970207 -0.03356083  0.5040579 ]
Iteration 88: [ 0.63052263  0.83870207 -0.08856083  0.4860579 ]
Iteration 89: [ 0.57052263  0.80870207 -0.13656083  0.4680579 ]
Iteration 90: [ 0.50152263  0.77770207 -0.19056083  0.4470579 ]
Iteration 91: [ 0.44352263  0.75070207 -0.24156083  0.4280579 ]
Iteration 92: [ 0.37552263  0.71870207 -0.30056083  0.4050579 ]
Iteration 93: [ 0.30852263  0.68570207 -0.35756083  0.3800579 ]
Iteration 94: [ 0.24152263  0.65570207 -0.40956083  0.3570579 ]
Iteration 95: [ 0.17852263  0.63070207 -0.45956083  0.3380579 ]
Iteration 96: [ 0.11352263  0.60070207 -0.51156083  0.3180579 ]
Iteration 97: [-0.01047737  0.53270207 -0.61956083  0.2720579 ]
Iteration 98: [-0.18747737  0.44270207 -0.77256083  0.2180579 ]
Difference: [-0.886 -0.047 -1.607 -0.666]

In [ ]:
result_test=perceptron_test(d_test_X,d_test_y.shape,weights)

In [ ]:
score(result_test,d_test_y)

Score=37.254901960784316